@import url(https://fonts.googleapis.com/css?family=Open+Sans);

html, body {
    margin: 0px;
}

body {
    font-family:'Open Sans', serif;

}

.headernavbar {
    color: white;
    background-color: rgba(0,0,0,.2);
}

.navbar-brand {
    padding-left: 5%;
    color:white;
    
}

.firstnavigation {
    color:white;
}

.signuplogin{
    color:white;
}

 /* hero class */

 /* font dan object ngikutin vh vw agar responsif dont use media */

.hero {
    background: url(assets/main-bg.jpg);
    width: 100%;
    height: 100vh;
    position:relative;
    background-size: cover;
    background-position:center;
}

.hero-master {
    height: 100%;
    display:grid;
    align-items:center;
    text-align: center;
}

/* test case untuk page 1 */

.hero-title {
    overflow: hidden;
    using clamp
}

.hero-title h1 {
    padding-top: 10%;
    color: white;
}


.hero-title h4 {
    padding-top: 2%;
    padding-bottom: 2%;
    color: white;
}

.hero-button {

    padding-bottom: 10%;
}

.btn {
    
    font-size: 24px;
    font-weight: bold;
    color: black;
    background-color: orange;

    text-align: center;
    line-height: 1.1;
    }

    .bottom-text {
        color: white;
    }


/* game */
.game {
    background: url(assets/the-games-bg.jpg);
    width: 100%;
    height: 100vh;
    position:relative;
    background-size: cover;
}

.game-content {
    padding-top: 10%;
    height: 100%;
    min-height: 300px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    /* grid-template-columns: 1fr 1fr; */
    /* grid-template-rows: 1fr; */
    grid-template-areas:
      "title" "carousel" "carousel" "carousel" "carousel" ;
}

@media (min-width: 1020px) {
    .game {
        background: url(assets/the-games-bg.jpg);
        width: 100%;
        height: 100vh;
        position:relative;
        background-size: cover;
    }
    .game-content {
        padding-top: 10%;
        height: 100%;
        min-height: 300px;
        width: 100%;
        display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr;
      grid-template-areas:
        "title carousel carousel carousel carousel";
    }
    .d2 {
        padding-top: 10%;
    }
  }

  .d1 {
      grid-area: title;
      color: white;
  }

  .d1 h1 {
      font-size: 72px;
  }

  .d1 p {
      font-size: 24px;
  }

  .d2 {
      grid-area: carousel;
  }





/* features */

.features {
    
    width: 100%;
    height: 100vh;
    position:relative; 
    background: url(assets/features.jpg);
    background-size: cover;
}

@media (min-width: 1020px) {
    .features {
    width: 100%;
    height: 100vh;
    position:relative; 
    background: url(assets/features.jpg);
    background-size: cover;
    }
}

.list {
    margin-top: 12%;
}

.features-title {
    color: white;
    margin-top: 35%;
}

.features-list h3 {
    padding-top: 5%;
    color: orange;
}

.feature-subtitle {
    padding-top: 3%;
    color: white;
}

/* system-req */

.system-req {
    width: 100%;
    height: 100vh;
    position:relative; 
    background: url(assets/requirements.png);
    background-size: cover;
}

.system-master {
    padding-top: 5%;
    background: red;
}

.content-system-req {
    padding-top: 5%;
    background: blue;

}

.system-req-title {
    background: pink;

}

.system-req-title h1 {
    font-size: 60px;
    color: white;
}

.table-list {
    padding-top: 5%;
    background: green;

}

/* testimonials */


.testimonials {
    width: 100%;
    height: 100%;
    position:relative; 
    background: url(assets/top-footer-bg.png);
    background-size: cover;

}

.testimonials-content {
    align-items: center;
    justify-content: center;
    height: 100%;
    min-height: 300px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr 1fr 1fr;
    /* grid-template-columns: 1fr 1fr; */
    /* grid-template-rows: 1fr; */
    grid-gap: 10px;
    grid-template-areas:
      "header" "content" "content"  ;
}

@media (min-width: 1020px) {
.testimonials {
    width: 100%;
    height: 100vh;
    position:relative; 
    background: url(assets/top-footer-bg.png);
    background-size: cover;

}
    .testimonials-content {
        height: 100%;
        min-height: 300px;
        width: 100%;
        display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      grid-template-areas:
        "header content";
    }
    .item1 {
        padding-left: 10%;
        display:grid;
        grid-area: header;
        align-items: center;
      }   
  }

  .item1 {
      display:grid;
      grid-area: header;
      align-items: center;
      margin-top: 10%;
    }

  .item1 h1 {
      font-size: 60px;
      color: white;
  }

  .item1 p {
      font-size: 24px;
      color: white;
      padding-top: 3%;
  }

  .btn {
    margin-top: 5%;
    width: 20%;
    min-height: 10%;
    max-height: 30%;
    text-align: center;
    color:white;

  }

  
  .item2 {
      grid-area:content;
  }

  .testimonials-head {
      margin-top: 10%;
  }

.testimonials-slide {
    border: 2px solid #ccc;
    background-color: #eee;
    border-radius: 5px;
    padding: 16px;
    margin: 16px 0;
    width: 80%;
  }
  
  /* Clear floats after containers */
  .testimonials-slide::after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Float images inside the container to the left. Add a right margin, and style the image as a circle */
  .testimonials-slide img {
    float: left;
    margin-right: 20px;
    border-radius: 50%;
  }
  
  /* Increase the font-size of a span element */
  .testimonials-slide span {
    font-size: 20px;
    margin-right: 15px;
  }
  
  /* Add media queries for responsiveness. This will center both the text and the image inside the container */
  @media (max-width: 500px) {
    .testimonials-slide {
      text-align: center;
    }
  
    .testimonials-slide img {
      margin: auto;
      float: none;
      display: block;
    }
  }

  @media (min-width: 1020px) {
    #spacing-testi {
        margin-left: 10%;
    }
  }

/* Footer */

.footer {
    width: 100%;
    height: 100vh;
    position:relative; 
    background: url(assets/footerbackground.png);
    background-size: cover;
}














